body,h1 {font-family: "Montserrat"}

h2,h3,h4,h5,h6 {font-family: monospace}

.w3-row-padding img {margin-bottom: 12px}
.area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(44, 42, 42);
  min-height: 100%;
}